<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-sweden.png"/>
                <span>Swedish Guys</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">

        </div>
    </div>
</nav>
-->


<div>
    <nav class="light-blue darken-1">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Swedish Guys</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/blogspace/anna">Anna</a></li>
                <li><a href="#/blogspace/jules">Jules</a></li>
                <li><a href="#/blogspace/matthieu">Matthieu</a></li>
                <li><a href="#/blogspace/maxime">Maxime</a></li>
                <li><a href="#/blogspace/reatha">Reatha</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#/blogspace/anna">Anna</a></li>
                <li><a href="#/blogspace/jules">Jules</a></li>
                <li><a href="#/blogspace/matthieu">Matthieu</a></li>
                <li><a href="#/blogspace/maxime">Maxime</a></li>
                <li><a href="#/blogspace/reatha">Reatha</a></li>
            </ul>
        </div>
    </nav>
</div>
