<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-sweden.png"/>
                <span>Swedish Guys</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">

        </div>
    </div>
</nav>
-->


<div>
    <nav class="light-blue darken-1">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">RICM in Sweden</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a ui-sref="blogspace({blogName:'anna', page:1})">Anna</a></li>
                <li><a ui-sref="blogspace({blogName:'jules', page:1})">Jules</a></li>
                <li><a ui-sref="blogspace({blogName:'matthieu', page:1})">Matthieu</a></li>
                <li><a ui-sref="blogspace({blogName:'maxime', page:1})">Maxime</a></li>
                <li><a ui-sref="blogspace({blogName:'reatha', page:1})">Reatha</a></li>
                <li><a ui-sref="gallery()"><i class="material-icons right">image</i>Galerie</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a ui-sref="blogspace({blogName:'anna', page:1})">Anna</a></li>
                <li><a ui-sref="blogspace({blogName:'jules', page:1})">Jules</a></li>
                <li><a ui-sref="blogspace({blogName:'matthieu', page:1})">Matthieu</a></li>
                <li><a ui-sref="blogspace({blogName:'maxime', page:1})">Maxime</a></li>
                <li><a ui-sref="blogspace({blogName:'reatha', page:1})">Reatha</a></li>
                <li><a ui-sref="gallery()"><i class="material-icons right">image</i>Galerie</a></li>
            </ul>
        </div>
    </nav>
</div>
