
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myFollowerLabel" translate="swedishguysApp.follower.home.createOrEditLabel">Create or edit a Follower</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.follower.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.follower.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="swedishguysApp.follower.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.follower.email"
                    required />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div input-field class="form-group">
            <label translate="swedishguysApp.follower.blog" for="field_blog">Blog</label>
            <select material-select watch class="form-control" id="field_blog" multiple name="blog" ng-model="vm.follower.blogs" ng-options="blog as blog.name for blog in vm.blogs track by blog.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.blog.$invalid">
            <p class="help-block"
                ng-show="editForm.blog.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
