
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPictureLabel" translate="swedishguysApp.picture.home.createOrEditLabel">Create or edit a Picture</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.picture.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.picture.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="swedishguysApp.picture.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.picture.url"
                    required />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="swedishguysApp.picture.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.picture.content"
                     />
        </div>

        <div class="form-group">
            <label translate="swedishguysApp.picture.tag" for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" ng-model="vm.picture.tags" ng-options="tag as tag.label for tag in vm.tags track by tag.id"></select>
        </div>
        <div class="form-group">
            <label translate="swedishguysApp.picture.blog" for="field_blog">Blog</label>
            <select class="form-control" id="field_blog" multiple name="blog" ng-model="vm.picture.blogs" ng-options="blog as blog.name for blog in vm.blogs track by blog.id"></select>
        </div>
        <div class="form-group">
            <label translate="swedishguysApp.picture.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.picture.user" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
