<div class="slider" slider ng-if='vm.loadSlider'>
    <ul class="slides">

        <li ui-sref="blogspace({blogName:entry.blogName.toLowerCase()})" ng-repeat="entry in vm.entries" style="cursor: pointer;">
            <img ng-src="{{entry.picture}}"> <!-- random image -->
            <div class="caption center-align" ng-if='$index % 3 == 0'>
                <h3>{{entry.blogName}}</h3>
                <h5 class="light grey-text text-lighten-5">{{entry.title}}</h5>
            </div>

            <div class="caption left-align" ng-if='$index % 3 == 1'>
                <h3>{{entry.blogName}}</h3>
                <h5 class="light grey-text text-lighten-5">{{entry.title}}</h5>
            </div>

            <div class="caption right-align" ng-if='$index % 3 == 2'>
                <h3>{{entry.blogName}}</h3>
                <h5 class="light grey-text text-lighten-5">{{entry.title}}</h5>
            </div>

        </li>
    </ul>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3>Qui sommes nous ?</h3>
                <div class="divider"></div>
                <p class="center light">
                    <i>
                        Nous sommes cinq élèves ingénieurs de Polytech Grenoble en dernière année d'études d'informatique en échange avec l'Université de Linköping en Suède.
                        </br>
                        Pour deux d'entres nous ça sera un semestre, pour les trois autres ça sera un an. Mais qui sait, peut-être que la Suède en laissera bouche bée certains...
                    </i>
                </p>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container" style="height:300px;">
    <div parallax><img ng-src="content/images/Sweden_Stockholm_Hero01.jpg"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">

            <div ng-repeat="profile in vm.profiles">

                <div class="col s12 m4 hoverable hand-cursor" ui-sref="blogspace({blogName:profile.name.toLowerCase()})" ng-if="$index < 3">
                    <div class="icon-block">
                        <h2 class="center">
                            <img ng-src="{{profile.image}}" class="circle responsive-img" style="max-width:200px">
                        </h2>
                    </div>
                    <h5 class="center">{{profile.name}}</h5>
                    <h6 class="center"><i>{{profile.age}}</i></h6>
                    <p class="light center">{{profile.detail}}</p>
                </div>

                <div class="col s12 m6 hoverable hand-cursor" ng-click="go(profile.destination)" ng-if="$index >= 3">
                    <div class="icon-block">
                        <h2 class="center">
                            <img ng-src="{{profile.image}}" class="circle responsive-img" style="max-width:200px">
                        </h2>
                    </div>
                    <h5 class="center">{{profile.name}}</h5>
                    <h6 class="center"><i>{{profile.age}}</i></h6>
                    <p class="light center">{{profile.detail}}</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h5><i>Mais... C'est où Linköping ?</i></h5>
                <p class="center light">
                    <i>
                        Petite ville de l'Östergötland, à environ 2h de train de Stockohlm (sud-ouest de la capitale), Linköping c'est la 5ème ville de Suède avec ses 150 000 habitants.
                        <br>
                        Considérée comme le berceau de l'aéronautique suédoise, elle héberge le campus de l'Université de Linköping, sixième université de Suède.
                    </i>
                </p>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11823.840352623387!2d15.583595895297702!3d58.40723527923786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1469477865361" frameborder="0" style="border:0; width: 90%; height: 400px" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container" style="height:300px;">
    <div parallax><img src="content/images/liu.jpg"></div>
</div>

</br>
<div class="container" ng-if="vm.pictures.length > 0">
    <div class="section">
        <div class="card">
            <div class="icon-block">
                <div class="slider" slider ng-if='vm.loadSliderPictures'>
                    <ul class="slides">
                        <li class="hand-cursor" ng-repeat="picture in vm.pictures" ui-sref="gallery()">
                            <img ng-src="{{picture.url}}">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-content center">

                <span class="card-title center">Les dernières photos du blog</span>

            </div>
        </div>
    </div>
</div>


