<div class="container">
    <h2 translate="swedishguysApp.entry.home.title">Entries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entry-new()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="swedishguysApp.entry.home.createLabel">
                        Create new Entry
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="swedishguysApp.entry.title">Title</span></th>
                    <th><span translate="swedishguysApp.entry.content">Content</span></th>
                    <th><span translate="swedishguysApp.entry.date">Date</span></th>
                    <th><span translate="swedishguysApp.entry.picture">Picture</span></th>
                    <th><span translate="swedishguysApp.entry.blog">Blog</span></th>
                    <th><span translate="swedishguysApp.entry.tag">Tag</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entries track by entry.date">
                    <td><a ui-sref="entry-detail({id:entry.id})">{{entry.id}}</a></td>
                    <td>{{entry.title}}</td>
                    <td style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: inline-block;width: 200px;">{{entry.content}}</td>
                    <td>{{entry.date | date:'medium'}}</td>
                    <td><img src="{{entry.picture}}" style="width:200px;"></td>
                    <td>
                        <a ui-sref="blog-detail({id:entry.blog.id})">{{entry.blog.name}}</a>
                    </td>
                    <td>
                        <span ng-repeat="tag in entry.tags">
                            <a class="form-control-static" ui-sref="tag-detail({id: {{tag.id}}})">{{tag.label}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="center">
                            <button type="submit"
                                    ui-sref="entry-detail({id:entry.id})"
                                    class="waves-effect waves-light btn blue lighten-3">
                                <i class="material-icons left">remove_red_eye</i>
                                <span translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entry-edit({id:entry.id})"
                                    class="waves-effect waves-light btn">
                                <i class="material-icons left">mode_edit</i>
                                <span translate="entity.action.edit"></span>
                            </button>
                            <a type="submit"
                                    ui-sref="entry.delete({id:entry.id})"
                                    class="waves-effect waves-light btn red lighten-1">
                                <i class="material-icons left">remove_circle</i>
                                <span translate="entity.action.delete"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
