.slider {
    height: 400px !important;
}

.slider .indicators {
    z-index: 2;
    bottom: 10px;
}

.slider h5 {
    text-shadow: 2px 2px 3px grey;
}

.slider h3 {
    text-shadow: 2px 2px 3px grey;
}

.card-image {
    height: 300px;
    overflow: hidden;
}

@media only screen and (max-width: 993px) {
    .card-image {
        height: 200px;
        overflow: hidden;
    }
}

.hand-cursor {
    cursor: pointer;
}

nav a:hover, nav a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

li .dropdown-button {
    padding: 0 40px 0 40px;
}

.modal-dialog {
    width: initial;
    margin: initial;
}

.modal-content {
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    background: initial;
}
