<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s12 l8">

                <div ng-repeat="entry in vm.entries">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card hoverable">
                                <div class="card-image valign-wrapper">
                                    <div class="valign" style="width:100%;">
                                        <img src="{{entry.picture}}">
                                    </div>
                                    <span class="card-title">
                                        {{entry.title}}
                                        <h6>{{entry.date | date : 'dd-MM-yyyy - HH:mm'}}</h6>
                                    </span>
                                </div>
                                <div class="card-content">
                                    <p class="left-align" ng-bind-html="entry.content"></p>
                                </div>
                                <div class="card-action" ng-if="entry.tags.length != 0">
                                    <div class="chip" ng-repeat="tag in entry.tags">
                                        {{ tag.label }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--</div>
                    <div class="parallax-container" style="height:300px;">
                        <div parallax><img src="https://www.insightvacations.com/~/media/images/hero/destinations/sweden_stockholm_hero01.jpg?h=640&w=2010"></div>
                    </div>
                    <br>
                </div>-->


                <div class="center" ng-if="vm.page > 1">
                    <pagination
                        page="vm.page"
                        page-size="1"
                        total="vm.pageNumber"
                        show-prev-next="true"
                        use-simple-prev-next="false"
                        dots="...."
                        hide-if-empty="false"
                        adjacent="2"
                        scroll-top="false"
                        pagination-action="changePage(page)" />
                </div>



            </div>

            <div class="col s12 l4">
                <div class="card hoverable">
                    <div class="row">
                        <div class="icon-block">
                            <div class="center"  style="padding:1.2rem 2rem 0">
                                <img src="{{vm.image}}" class="circle responsive-img" style="max-width:200px">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="divider"></div>
                            <h5 class="center">{{vm.name}}</h5>
                            <h6 class="center"><i>{{vm.age}}</i></h6>
                            <p class="light center" style="margin-bottom: 20px">{{vm.detail}}</p>
                            <div class="divider" ng-if="vm.entries.length > 0" style="margin-bottom: 20px;"></div>
                                    <treecontrol class="tree-classic"
                                                 tree-model="dataForTheTree"
                                                 options="treeOptions"
                                                 on-selection="showSelected(node, $parentNode)"
                                                 selected-node="node1">
                                        {{node.content}}
                                    </treecontrol>
                        </div>
                        <div class="card-action center">
                            <a href='#subscribe-modal' modal>S'abonner</a>
                        </div>

                        <div id="subscribe-modal" class="modal">

                            <form name="editForm" role="form" novalidate show-validation>
                                <div class="modal-content">
                                    <h4>S'abonner</h4>
                                    <p><i>Entrez votre adresse mail et sélectionnez les blogs pour lesquels vous souhaitez recevoir des notifications.</i></p>
                                    <div class="row">
                                        <div class="input-field col s12 m8 form-group">
                                            <label class="control-label">Email</label>
                                            <input type="text" class="form-control" name="email" id="field_email"
                                                   ng-model="vm.email"
                                                   required />
                                            <div ng-show="editForm.email.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.email.$error.required" translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <form action="#" class="col s12 m8">
                                            <p>
                                                <input type="checkbox" id="anna" ng-checked="{{vm.checked.anna}}" />
                                                <label for="anna">Anna</label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="jules" ng-checked="{{vm.checked.jules}}" />
                                                <label for="jules">Jules</label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="matthieu" ng-checked="{{vm.checked.matthieu}}" />
                                                <label for="matthieu">Matthieu</label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="maxime" ng-checked="{{vm.checked.maxime}}" />
                                                <label for="maxime">Maxime</label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="reatha" ng-checked="{{vm.checked.reatha}}" />
                                                <label for="reatha">Reatha</label>
                                            </p>
                                        </form>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="vm.saveFollower()" ng-disabled="editForm.$invalid || isSaving" class="modal-action modal-close waves-effect waves-green btn-flat">Accepter</button>
                                    <a ui-sref="blogspace({blogName: vm.blogName, page: vm.page})" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





